
body{

	font-family: 'Lexend', sans-serif;
}
/*body *.no-font{
	font-family: auto!important;
}*/
/*----------Logo----------*/


#logo-container img{
	height: 50px;
	width: 200px;
}
/*----------Discripttion----------*/
.desc {
	max-width: 900px; 
    margin-left: auto; 
    margin-right: auto;
	margin-top: 50px;
}

.desc p {
	color: #ee4e34;
	letter-spacing: 0.01em;
}
/*----------Introduction----------*/
.header-container .info{
	background-color: #daeefc;
	border-radius: 25px 0px 0px 0px;
}

.header-container .hq{
	background: linear-gradient(90deg, rgb(38, 156, 223) 0%, rgb(18, 17, 212) 100%);
	border-radius: 0px 25px 0px 0px;
}


/*----------Calculation for operation----------*/
/*---------col-1--------*/

.calculation-container .calculation-row{
	background-color: #daeefc;
	border-radius: 0px 0px 0px 25px;
}

.inside-container .kd-left {
	padding-left: 25px;
}

.inside-container{
	padding-top: 20px;
}

.calculation-container .inside-container:not(:first-child){
	border-top: 4px solid white;
}

.inside-container .row:first-child .kd-left p{
	background: linear-gradient(90deg, rgb(38, 156, 223) 0%, rgb(18, 17, 212) 100%);
	border-radius: 50px;
	padding: 15px 0px 15px 15px;
	max-width: 90%;
	
}

.inside-container .row:not(:first-child) .kd-left p{
	padding: 15px 0px 15px 15px;
	max-width: 90%;
}



.inside-container .row:first-child .gt-right p{
	background-color: #ffffff;
	border-radius: 50px;
	padding: 15px 20px;
	max-width: 50%;
}

.inside-container .row:not(:first-child) .gt-right p{
	background-color: #ffffff;
	border-radius: 50px;
	padding: 15px 40px;
	max-width: 50%;
	text-align: center;
}

/*---------col-2--------*/
.calculation-container .ttc{
	background: linear-gradient(90deg, rgb(38, 156, 223) 0%, rgb(18, 17, 212) 100%);
	border-radius: 0px 0px 25px 0px;
}

.employeeCount{
	color: black !important;
	background-color: #ffffff;
	border-radius: 50px;
	padding: 10px 0px -1px 10px;
	max-width: 50%;
	text-align: center;
	font-size: 1.8rem;
}

.monthlySalary{
	color: black !important;
	background-color: #ffffff;
	border-radius: 50px;
	padding: 10px 0px -1px 10px;
	max-width: 50%;
	text-align: center;
	font-size: 1.8rem;
}

.ttc{
	color: #ffffff;
	padding-top: 30px;
}

.sum{
	font-size: 2rem;
	line-height: 1.4;
	font-weight: normal;
}

.ttc .sum-saving{
	background-color: #ffffff;
	color: #ee4e34;
}

.sum-saving{
	width: 120px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

/* Nut pdf */

.download{
	background-color: #ffffff;
	color: #ee4e34;
	font-size: 2.5rem;
}

/* Nut luu y */
.ly{
	color: #ffffff;
	background-color: #ee4e34;
	font-size: 1.4rem;
}

.container .ly{
	margin-top: 10rem;
}

.row-content{
	margin-left: 2.3rem;
}

.content{
	border-left: 4px solid white;
	padding-left: 5px;
}
/* Các nút cuối cùng */
.tc,.tc2{
	background-color: #fcedda;
	color: #ee4e34;
	font-size: 1.4rem;
	font-weight: bold;
}
.container .tc, .container .tc1, .container .tc2{
	margin-top: 4rem;
	border: none;
}
.container .tc2{
	margin-left: 15px;
}
.tc1{
	color: #fcedda;
	background-color: #ee4e34;
	font-size: 1.4rem;
	font-weight: bold;
}
.container .tc1{
	margin-right: 15px;
}
.final-container{
	margin-bottom: 150px;
}




