
body{

	font-family: 'Lexend', sans-serif;
}
/*body *.no-font{
	font-family: auto!important;
}*/

/*----------Descripttion----------*/
.desc-1 {
	max-width: 800px; 
	margin-top: 50px;
}

.desc-1 p {
	color: #ee4e34;
	letter-spacing: 0.02em;
	font-size: 2.3rem;
	line-height: 3rem;
}


.row-content p{
	font-size: 1.5rem;
}

.tc2{
	background: linear-gradient(90deg, rgb(38, 156, 223) 0%, rgb(18, 17, 212) 100%);
	color: #ffffff;
	font-size: 1.4rem;
	font-weight: bold;
}

.container .tc2{
	margin-top: 2rem;
	border: none;
}

/* Cot khach hang nhan xet */
.first-row{
	margin-top: 3rem;
}

.feedback{
	margin-top: 3rem;
	background-color: #daeefc;
	padding-bottom: 4rem;
}

img{
	margin-top: 3rem;
	border-radius: 100%;
	max-width: 20%;
	height: auto;
}

.name-singer{
	margin-top: 1.5rem;
}

.content{
	max-width: 75%;
}

/* O kiem tra */

.test{
	margin-top: 100px;
	background-color: #fcedda;
	color: #ee4e34;
	padding-bottom: 100px;
	margin-bottom: 500px;
}

.desc-1 {
	max-width: 800px; 
	margin-top: 70px;
}

.desc-1 p {
	color: #ee4e34;
	letter-spacing: 0.02em;
	font-size: 2.3rem;
	line-height: 3rem;
}

/* Nut dat demo */
.download{
	background-color: #ee4e34;
	color: #ffffff;
	font-size: 2rem;
	margin-top: 120px;
}














